/* Layout Fluido */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    /* Para o efeito de coluna falsa layout precisa ser fixo */
    /* width: 720px; */
    width:960px;
    margin: 0 auto;
    background: #fff;

    /* Definindo um tamanho mínimo pra janela */
    min-width: 720px;

    background:#fff url(../../imagens/imagens-fluidas/coluna.png) repeat-y left top;
}

#marca {
    width: 100%;
    height: 200px;

    /* #225992 -> Azul da imagem */
    background: #225992 url(../../imagens/imagens-fluidas/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 300px;
}

/* #imagem{
    Esconde a imagem que excede o tamanho da div
    overflow:hidden;

    width:80%;
    margin-left:20px;
} */

#conteudo {
    clear: both;
    width: 520px;
    float: right;
}

#conteudo-principal {
    float: left;

    /* 320px->64% */
    width: 63%; 
}

img.img-noticia{
    width:94%;
    padding:2%;
    max-width: 600px;

}

#conteudo-secundario {
    width: 32%;
    float: right;
    background: #d1d1d1;
    float: right;
    padding:2%;
}

#navegacao {
    width: 180px;

    /* Para a tag ficar a esquerda */
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    /* background: #d1d1d1; */
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}