.texto {
    color: white;
    background-color: red;
}

.menu {
    text-align: left top;
}

.flutuante {
    background: blue;
    border: solid gray;
    width: 200px;
    height: 200px;
    margin:10px;
}

/* Os flutuantes se comportar como se estivessem livres */
.flutuante1 {
    background: red;
    border: solid gray;
    width: 150px;
    height: 150px;

    /* criando um janela flutuante */
    /* float: left; */
    margin:10px;
   
}

.clear{
    /* limpa os elementos flutuantes */
    /* Clear: left(limpa a esquerda), right(direita)
    both(ambos), none(nenhum) */
    clear: left
}

#principal{
    border: 1px solid red;
    background-color: purple;
}